/* Login.css */

.login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 20px;
  margin:  auto;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  width: 150px;
  margin-bottom: 20px;
}

.login-form {
  width: 100%;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.login-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.login-input:focus {
  border-color: #007bff;
}

.login-input-error {
  border-color: #ff4d4d;
}

.login-error-message {
  color: #ff4d4d;
  font-size: 12px;
  margin-top: 5px;
}

.login-firebase-error {
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
}

.login-button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-signup-link {
  margin-top: 20px;
  background: none;
  color: #007bff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s;
}

.login-signup-link:hover {
  color: #0056b3;
}
